@model IEnumerable<DACS.Models.BacSi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Quản lý bác sĩ</h1>

<p>
    <a class="btn btn-primary" asp-action="AddBacsi">Tạo mới bác sĩ</a>
</p>


<table class="table">
    <thead>
        <tr>

            <th>Tên bác sĩ</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Chức vụ</th>
            <th>Chuyên khoa</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>

            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Name</td>
                <td>@item.GioiTinh</td>
                <td>@item.NgaySinh.ToString("dd/MM/yyyy")</td>
                <td>@item.ChucVu?.Name</td>
                <td>@item.Khoa.Name</td>
                <td>@item.SoDienThoai</td>

                <td><img src="@Url.Content(item.ImageUrl)" alt="Doctor Image" style="max-width: 80px; max-height: 100px;" /></td>
                <td>
                    <a class="btn btn-warning" asp-action="DetailsBacSi" asp-route-id="@item.Id">Xem</a> |
                    <a class="btn btn-danger" asp-action="DeleteBacSi" asp-route-id="@item.Id">Xóa</a>

                </td>
            </tr>
        }
    </tbody>
</table>
