@model IEnumerable<DACS.Models.TinYTe>
@{
    Layout = Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; ;
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tiêu đề</th>
            <th>Ngày đăng</th>
            <th>Hình ảnh</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tinYTe in Model)
        {
            <tr>
                <td>@tinYTe.Id</td>
                <td>@tinYTe.TieuDe</td>
                <td>@tinYTe.NgayDang.ToString("dd/MM/yyyy")</td>
                <td>
                    @if (!string.IsNullOrEmpty(tinYTe.ImageUrl))
                    {
                        <img src="@tinYTe.ImageUrl" alt="Hình ảnh" style="max-width: 100px; max-height: 100px;" />
                    }
                    else
                    {
                        <span>Không có hình ảnh</span>
                    }
                   
                </td>
                <td> <a class="btn btn-danger" asp-action="DeleteTinYte" asp-route-id="@tinYTe.Id">Xóa</a></td>
            </tr>
           
        }
    </tbody>
</table>