@model IEnumerable<DACS.Models.DatLichKham>
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Lịch Khám Đang Chờ Khám</h2>

<table class="table">
    <thead>
        <tr>

            <th>Tên Bệnh Nhân</th>
            <th>Số điện thoại</th>
            <th>Ngày đặt lịch</th>
            <th>Ngày khám bệnh</th>
            <th>Khung giờ khám bệnh</th>
            <th>Trạng thái</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.BenhNhan.Name</td>
                <td>@item.BenhNhan.SoDienThoai</td>
                <td>@item.NgayDatLich.ToString("dd/MM/yyyy")</td>
                <td>@item.LichLamViec.Lich.ToString("dd/MM/yyyy")</td>
                <td>@item.LichLamViec.Ca</td>
                <td>@item.TrangThai</td>
                <td>
                    <form asp-action="Examin" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-success">Đã khám</button>
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

