@using Microsoft.AspNetCore.Identity
@using WebDatLichKham.Models
@model DatlichViewModel

@{
    Layout = null;
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnCoSo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Sora:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="~/css/reset.css" rel="stylesheet" />
    <title>Bệnh viện Nguyễn Trãi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link href="~/css/timeplate.css" rel="stylesheet" />
    <style>
        .btn-primary {
            background-color: #696f74;
            border-color: #0e0e0e;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0e0e0e;
            }

        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
        }

            .btn-secondary:hover {
                background-color: #5a6268;
                border-color: #545b62;
            }

        .rounded-circle {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
        }

        /* Đảm bảo nội dung căn giữa */
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

            .card img {
                margin-bottom: 15px;
            }

            .card h3,
            .card h4 {
                text-align: center;
            }

            .card h3 {
                color: black;
            }

        .specialty-section {
            margin-top: 50px;
        }

            .specialty-section .specialty-item {
                text-align: center;
                margin-bottom: 20px;
            }

                .specialty-section .specialty-item img {
                    width: 64px;
                    height: 64px;
                    margin-bottom: 10px;
                }

                .specialty-section .specialty-item button {
                    background-color: white;
                    border: 1px solid #ddd;
                    border-radius: 8px;
                    padding: 10px;
                    cursor: pointer;
                    width: 100%;
                    text-align: center;
                }

                    .specialty-section .specialty-item button:hover {
                        background-color: #f8f8f8;
                    }

        .owl-carousel .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            margin: 10px;
            height: 100%;
        }

            .owl-carousel .card img {
                border-radius: 50%;
                width: 150px;
                height: 150px;
                object-fit: cover;
                margin-bottom: 15px;
            }

            .owl-carousel .card h3 {
                margin-bottom: 10px;
                font-size: 1.25em;
                color: #333;
            }

            .owl-carousel .card h4 {
                margin-bottom: 15px;
                font-size: 1em;
                color: #666;
            }

        .owl-carousel .card-footer {
            width: 100%;
            text-align: center;
            margin-top: auto;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
            padding: 10px 20px;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .navbar__item{
            justify-content: flex-start;
        }
    </style>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <span>VIET DUC</span>
            </div>
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a asp-action="Datlich" asp-controller="Home" class="navbar__link navbar__link--active">Trang Chủ</a>
                    </li>
                    <li class="navbar__item">
                        <a asp-action="Datlich" asp-controller="Home" class="navbar__link">Đặt lịch</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#!" class="navbar__link">Bác Sĩ</a>
                    </li>
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <li class="navbar__item">
                            <a class="navbar__link" asp-area="Identity" asp-page="/Account/Login">Đăng Nhập</a>
                        </li>
                    }
                </ul>
            </nav>
            <div class="header__action">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <ul class="list-unstyled mb-0">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item" style="padding-left: 9px;">
                                @if (User.IsInRole("Custommer"))
                                {
                                    <a id="manage" class="nav-link p-0 text-black" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Thông Tin</a>
                                }
                                else
                                {
                                    <a id="manage" class="nav-link p-0 text-black" asp-controller="Admin" asp-action="Index" title="Manage">Quản Lý</a>
                                }
                            </li>
                            <li class="nav-item p-0">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Datlich", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link p-0 text-black">Đăng xuất</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container text-center my-4">
        <div class="slideshow-container mb-4">
            <div class="mySlides fade">
                <img src="/Images/timeplate1.png" class="w-100">
            </div>
            <div class="mySlides fade">
                <img src="/Images/timeplate2.png" class="w-100">
            </div>
            <div class="mySlides fade">
                <img src="/Images/timeplate1.png" class="w-100">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="dots mb-4">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <div class="search-bar">
            <input type="text" id="searchInput" class="form-control" onkeyup="searchDoctors()" placeholder="Tìm theo tên bác sĩ hoặc khoa...">
        </div>
        <h2 class="my-4">Đặt lịch khám trực tuyến</h2>
        <p class="lead">Tìm Bác sĩ chính xác - Đặt lịch khám dễ dàng</p>
    </div>

    <div class="container mb-4">
        <div class="owl-carousel owl-theme">
            @foreach (var doctor in Model.BacSis)
            {
                <div class="card text-center">
                    <img src="@doctor.ImageUrl" alt="Ảnh bác sĩ" class="rounded-circle img-fluid mx-auto d-block">
                    <h3>@doctor.Name</h3>
                    <h4>@doctor.Khoa.Name</h4>
                    <div class="card-footer">
                        <a href="@Url.Action("Details", "Bacsis", new { id = doctor.Id })" class="btn btn-primary">Đặt lịch khám <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="container text-center my-4">
        <h2 class="my-4">Tin Tức</h2>
        <p class="lead">Chính thống - Minh bạch - Trung lập</p>
    </div>

    <div class="container mb-4">
        <div class="owl-carousel owl-theme">
            @foreach (var tinYTe in Model.TinYtes)
            {
                <a href="@Url.Action("tintuc", "Home", new { id = tinYTe.Id })" style=" text-decoration: none;">
                    <div class="card text-center">
                        <img src="@tinYTe.ImageUrl" class="rounded-circle img-fluid mx-auto d-block" alt="Ảnh tin tức y tế">
                        <h3>@tinYTe.TieuDe</h3>
                        <p class="text-muted">Đăng ngày: @tinYTe.NgayDang.ToShortDateString()</p>
                    </div>
                </a>
            }
        </div>
    </div>

    <div class="container specialty-section">
        <h2 class="text-center">Đặt lịch theo Chuyên khoa</h2>
        <div class="row">
            @foreach (var khoa in Model.Khoas)
            {
                <div class="col-md-2 specialty-item">
                    <button id="btn_@khoa.Name" onclick="redirectToChuyenkhoa('@khoa.Name', '@khoa.Id')" data-specialty-id="@khoa.Id">
                        <img src="@khoa.ImageUrl" alt="@khoa.Name">
                        <p>@khoa.Name</p>
                    </button>
                </div>
            }
        </div>
    </div>
    <footer class="footer">
        <section class="footer">
            <div class="container">
                <!-- chân trang -->
                <div class="footer__top">
                    <!-- cột 1 -->
                    <div class="footer__column">
                        <p class="footer__desc">
                            Đặt lịch khám nhanh chóng giúp bạn tiết kiệm được thời gian.
                        </p>
                    </div>
                    <!-- cột 2 -->
                    <div class="footer__column">
                        <h3 class="footer__heading">Hỗ trợ</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Thông tin tài khoản</a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Về chúng tôi</a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Liên hệ</a>
                            </li>
                        </ul>
                        <h3 class="footer__heading">Hỗ trợ</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Thông tin tài khoản</a>
                            </li>
                        </ul>
                    </div>
                    <!-- cột 3 -->
                    <div class="footer__column">
                        <h3 class="footer__heading">Hỗ trợ</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Thông tin tài khoản</a>
                            </li>
                        </ul>
                        <h3 class="footer__heading">Hỗ trợ</h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="#!" class="footer__link">Trung tâm trợ giúp</a>
                            </li>
                        </ul>
                    </div>
                    <!-- cột 4 -->
                    <div class="footer__column">
                        <h3 class="footer__heading">Liên hệ</h3>
                        <div class="footer__social">
                            <a href="#!" class="footer__social-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 6 12" fill="none">
                                    <path d="M3.98981 11.9358V6.0302H5.76473L6 3.9517H3.98981L3.9928 2.91132C3.9928 2.3692 4.0477 2.07885 4.87783 2.07885H5.98755V0H4.21224C2.07977 0 1.32931 1.00825 1.32931 2.70405V3.95186H0V6.03055H1.32931V11.8521C1.84718 11.9489 2.38257 12 2.93075 12C3.28487 12 3.63863 11.9786 3.98981 11.9358Z" fill="currentColor" />
                                </svg>
                            </a>
                            <a href="#!" class="footer__social-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none">
                                    <path d="M16 1.42062C15.405 1.66154 14.771 1.82123 14.11 1.89877C14.79 1.524 15.309 0.935077 15.553 0.225231C14.919 0.574154 14.219 0.820615 13.473 0.958154C12.871 0.366462 12.013 0 11.077 0C9.261 0 7.799 1.36062 7.799 3.02862C7.799 3.26862 7.821 3.49938 7.875 3.71908C5.148 3.59631 2.735 2.38985 1.114 0.552C0.831 1.00523 0.665 1.524 0.665 2.08246C0.665 3.13108 1.25 4.06062 2.122 4.59877C1.595 4.58954 1.078 4.44831 0.64 4.22585C0.64 4.23508 0.64 4.24708 0.64 4.25908C0.64 5.73046 1.777 6.95262 3.268 7.23415C3.001 7.30154 2.71 7.33385 2.408 7.33385C2.198 7.33385 1.986 7.32277 1.787 7.28215C2.212 8.48123 3.418 9.36277 4.852 9.39138C3.736 10.1972 2.319 10.6828 0.785 10.6828C0.516 10.6828 0.258 10.6717 0 10.6412C1.453 11.5062 3.175 12 5.032 12C11.068 12 14.368 7.38462 14.368 3.384C14.368 3.25015 14.363 3.12092 14.356 2.99262C15.007 2.56615 15.554 2.03354 16 1.42062Z" fill="currentColor" />
                                </svg>
                            </a>
                            <a href="#!" class="footer__social-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                                    <path d="M0 1.39394C0 0.989891 0.146401 0.656558 0.439189 0.393939C0.731978 0.131309 1.11262 0 1.58108 0C2.04119 0 2.41344 0.129285 2.69788 0.387879C2.99066 0.654545 3.13707 1.00201 3.13707 1.4303C3.13707 1.81818 2.99486 2.14141 2.71042 2.4C2.41764 2.66667 2.03282 2.8 1.55598 2.8H1.54344C1.08333 2.8 0.711072 2.66667 0.426641 2.4C0.142209 2.13333 0 1.79798 0 1.39394ZM0.163127 12V3.90303H2.94884V12H0.163127ZM4.49228 12H7.27799V7.47879C7.27799 7.19595 7.31146 6.97777 7.37838 6.82424C7.49549 6.54949 7.67326 6.31716 7.91168 6.12727C8.1501 5.93737 8.44916 5.84242 8.80888 5.84242C9.74582 5.84242 10.2143 6.45252 10.2143 7.67273V12H13V7.35758C13 6.16161 12.7072 5.25455 12.1216 4.63636C11.536 4.01818 10.7622 3.70909 9.80019 3.70909C8.72104 3.70909 7.88031 4.15758 7.27799 5.05455V5.07879H7.26544L7.27799 5.05455V3.90303H4.49228C4.509 4.16161 4.51737 4.96565 4.51737 6.31515C4.51737 7.66464 4.509 9.55959 4.49228 12Z" fill="currentColor" />
                                </svg>
                            </a>

                        </div>

                        <h3 class="footer__heading">Đăng ký nhận tin</h3>
                        <p class="footer__desc">Đăng ký nhận bản tin của chúng tôi để cập nhật thông tin mới nhất về chăm sóc răng miệng</p>

                        <form class="footer-form" action="">
                            <input type="email" class="footer-form__input" placeholder="Nhập địa chỉ email của bạn...">
                            <button class="footer-form__submit">Đăng ký</button>
                        </form>
                    </div>
                </div>
                <!-- bản quyền -->
                <div class="footer__copyright">
                    <p class="footer__copyright-text">2024 DD.bệnh viện đa khoa Nguyễn Trãi.</p>
                </div>
            </div>
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 5,
                        nav: true,
                        loop: false
                    }
                }
            });
        });

        function updateCarousel() {
            var carousel = $('.owl-carousel');
            carousel.owlCarousel('destroy');
            carousel.owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 5,
                        nav: true,
                        loop: false
                    }
                }
            });
        }

        function searchDoctors() {
            var searchInput = document.getElementById('searchInput').value.trim().toUpperCase();
            var cards = document.querySelectorAll('.owl-carousel .card');
            var carousel = document.querySelector('.owl-carousel');

            var matchedCards = [];
            var unmatchedCards = [];

            for (var i = 0; i < cards.length; i++) {
                var doctorNameElement = cards[i].querySelector('h3');
                var doctorSpecialtyElement = cards[i].querySelector('h4');

                if (doctorNameElement && doctorSpecialtyElement) {
                    var doctorName = doctorNameElement.innerText.trim().toUpperCase();
                    var doctorSpecialty = doctorSpecialtyElement.innerText.trim().toUpperCase();

                    var nameMatch = doctorName.indexOf(searchInput) > -1;
                    var specialtyMatch = doctorSpecialty.indexOf(searchInput) > -1;

                    if (nameMatch || specialtyMatch) {
                        cards[i].classList.remove('hidden');
                        matchedCards.push(cards[i]);
                    } else {
                        cards[i].classList.add('hidden');
                        unmatchedCards.push(cards[i]);
                    }
                }
            }

            carousel.innerHTML = '';
            matchedCards.forEach(card => carousel.appendChild(card));
            unmatchedCards.forEach(card => carousel.appendChild(card));
            updateCarousel();
        }

        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 2000);
        }

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        function redirectToChuyenkhoa(specialtyName, specialtyId) {
            localStorage.setItem('selectedSpecialtyName', specialtyName);
            localStorage.setItem('selectedSpecialtyId', specialtyId);
            window.location.href = '/Home/Chuyenkhoa';
        }
        
    </script>
</body>

</html>